@if (Request.IsAuthenticated) {
	<li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
	<li>@Html.ActionLink("Vehicle", "Index", "Vehicle")</li>
	<li>@Html.ActionLink("Insurance Agency", "Index", "InsuranceAgency")</li>
}
else {
	<li>@Html.ActionLink("Home", "Index", "Home")</li>
}