@{
	ViewBag.Title = "Dashboard";
}

<h1>Dashboard</h1>
<br />
<fieldset style="width:40%;">
	<legend>Statistics</legend>
	<br />

	<b>Number of vehicles registered:</b>
	<br />
	@ViewBag.VehiclesCount

	<br /><br />

	<b>Number of insurance agencies:</b>
	<br />
	@ViewBag.InsuranceAgenciesCount
</fieldset>