@{
	ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<br />
<fieldset style="width:40%;">
	<legend>Statistics</legend>
	<br />
	<b>Number of vehicles registered: </b>
    @ViewBag.VehiclesCount
	<br /><br />
	<b>Number of insurance agencies: </b>
	@ViewBag.InsuranceAgenciesCount
</fieldset>